$color-primary:#25c967ec;
$color-secondary: #227744ec;
$color-pale:#bfe632;
$color-mid:#13ca5fb3;
$color-dark:#36b554;
$color-light: #e3f3aa;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #4f803a;

$body-font: "Quattrocento Sans", sans-serif; 
$header-font: "Quattrocento Sans", sans-serif; 

body{
    font-family: 'Quattrocento Sans', sans-serif;   
    background-color: #e3f3aa; 
}
p{
    font-size: 30px;
}
h1, h2, h3{
    font-family: 'Quattrocento Sans', sans-serif;
}
h2{
    color: $color-secondary;
}
header{
    h2{
        color: $color-dark;
        font-size: 50px;
    }
}
header{
    h1{
        font-size: 100px;
    }
}
.site-footer{
    background-image: linear-gradient($color-light, $color-dark);
    padding: 20px, 0;
}
.jumbotron{
    margin: 0;
    padding: 100px;
    background-image: linear-gradient(to right, #13ca5fb3, #bfe632);
    color: white;
}
.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar{
    background-color: #4f803a;
}
.tab-content {
    border: 3px solid rgb(28, 204, 66);
    border-top: none;
    padding: 10px;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}
.carousel {
    border: solid #CEC8FF;
}
.form-row button{
    background-color: #e3f3aa;
}
ul li {
    margin: 15px 0 0;
    font-size: 1.6em;
    color: #8d9aa5;
    position: relative;
}

ul.bulleted li {
    padding-left: 40px;
}

ul.bulleted li:before {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: .5em;
    padding: 3px 2px 2px;
    border-radius: 2px;
    text-align: center;
    width: 25px;
}

ul.bulleted .in {
    color: #5A6772;
}

ul.bulleted .in:before {
    content: "IN";
    background-color: #5fcf80;
}

ul.bulleted .out {
    color: #A7B4BF;
}

ul.bulleted .out:before {
    content: "OUT";
    background-color: #ed5a5a;
}

ul li {
    margin: 15px 0 0;
    font-size: 1.6em;
    color: #8d9aa5;
    position: relative;
}

ul.rooms {
    margin-bottom: 30px;
}

ul.rooms li {
    font-size: 1em;
    display: inline-block;
    width: 10%;
    padding: 3px 2px 2px;
    border-radius: 2px;
    margin: 0 3px 3px 3px;
    color: white;
    text-align: center;
}

ul.rooms li.empty {
    background-color: #5fcf80;
}
ul.rooms li.full {
    background-color: #ed5a5a;
}

.grid-30,
.grid-70,
.grid-100 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}